* {
    color: #cdd6f4;
    font-size: 19px;
    font-family: monospace;
}

body {
    background-color: #313244;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

h3 {
    font-size: 21px;
    color: #89b4fa;
}

h1 {
    font-size: 25px;
}

.content-container {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Navigation Bar */
.navbar {
    padding: 15px;
    border-radius: 20px;
    background-color: #45475a;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    margin: 0.5rem;
    float: left;
}

.navbar ul li a:hover {
    color: #bac2de;
}

.navbar ul li a.active {
    color: #89b4fa;
}

.navbar ul li img {
    float: left;
    background-size: contain;
    width: 60px;
    height: 40px;
    margin-right: 1em;
}

/* Home page */
.home-info-box {
    background-color: #6c7086;
    border-radius: 10px;
    padding: 15px;
    margin-right: 30%;
    margin-top: 20px;
}

.home-links-box {
    margin-top: 60px;
}

.link {
    color: #eba0ac;
}

/* About page */
.experience-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.skills-category {
    color: #a6e3a1;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Homelab page */
.homelab-intro {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.homelab-text {
    flex: 1 1 300px;
}

.homelab-image {
    flex: 0 1 300px;
}

/* Footer */
footer {
    margin-left: 5%;
    margin-right: 5%;
}